<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>婚庆摄影写真</string>
		<key>id</key>
		<string>1182</string>
		<key>picAddr</key>
		<string>he_goodscategory_1182.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家政搬家</string>
		<key>id</key>
		<string>1183</string>
		<key>picAddr</key>
		<string>he_goodscategory_1183.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家电维修</string>
		<key>id</key>
		<string>1184</string>
		<key>picAddr</key>
		<string>he_goodscategory_1184.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>洗衣店</string>
		<key>id</key>
		<string>1185</string>
		<key>picAddr</key>
		<string>he_goodscategory_1185.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>驾校租车代驾</string>
		<key>id</key>
		<string>1186</string>
		<key>picAddr</key>
		<string>he_goodscategory_1186.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>孕产早教</string>
		<key>id</key>
		<string>1187</string>
		<key>picAddr</key>
		<string>he_goodscategory_1187.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>旅游酒店</string>
		<key>id</key>
		<string>1188</string>
		<key>picAddr</key>
		<string>he_goodscategory_1188.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>家居装修</string>
		<key>id</key>
		<string>1189</string>
		<key>picAddr</key>
		<string>he_goodscategory_1189.png</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>教育培训</string>
		<key>id</key>
		<string>1190</string>
		<key>picAddr</key>
		<string>he_goodscategory_1190.png</string>
	</dict>
</array>
</plist>
