<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0053</string>
		<key>subTitle</key>
		<string>精品男装</string>
		<key>title</key>
		<string>精品男装</string>
		<key>pic</key>
		<string>eastbuy_main_01</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0054</string>
		<key>subTitle</key>
		<string>精品女装</string>
		<key>title</key>
		<string>精品女装</string>
		<key>pic</key>
		<string>eastbuy_main_02</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0055</string>
		<key>subTitle</key>
		<string>鞋帽配饰</string>
		<key>title</key>
		<string>鞋帽配饰</string>
		<key>pic</key>
		<string>eastbuy_main_03</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0056</string>
		<key>subTitle</key>
		<string>手机通讯</string>
		<key>title</key>
		<string>手机通讯</string>
		<key>pic</key>
		<string>eastbuy_main_04</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0057</string>
		<key>subTitle</key>
		<string>电脑数码</string>
		<key>title</key>
		<string>电脑数码</string>
		<key>pic</key>
		<string>eastbuy_main_05</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0058</string>
		<key>subTitle</key>
		<string>家用电器</string>
		<key>title</key>
		<string>家用电器</string>
		<key>pic</key>
		<string>eastbuy_main_06</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0059</string>
		<key>subTitle</key>
		<string>箱包户外</string>
		<key>title</key>
		<string>箱包户外</string>
		<key>pic</key>
		<string>eastbuy_main_07</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0060</string>
		<key>subTitle</key>
		<string>美容美妆</string>
		<key>title</key>
		<string>美容美妆</string>
		<key>pic</key>
		<string>eastbuy_main_08</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0061</string>
		<key>subTitle</key>
		<string>食品保健</string>
		<key>title</key>
		<string>食品保健</string>
		<key>pic</key>
		<string>eastbuy_main_09</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0062</string>
		<key>subTitle</key>
		<string>图书音像</string>
		<key>title</key>
		<string>图书音像</string>
		<key>pic</key>
		<string>eastbuy_main_10</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0063</string>
		<key>subTitle</key>
		<string>母婴用品</string>
		<key>title</key>
		<string>母婴用品</string>
		<key>pic</key>
		<string>eastbuy_main_11</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0064</string>
		<key>subTitle</key>
		<string>家居家装</string>
		<key>title</key>
		<string>家居家装</string>
		<key>pic</key>
		<string>eastbuy_main_12</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0065</string>
		<key>subTitle</key>
		<string>汽车用品</string>
		<key>title</key>
		<string>汽车用品</string>
		<key>pic</key>
		<string>eastbuy_main_13</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0066</string>
		<key>subTitle</key>
		<string>食品粮油</string>
		<key>title</key>
		<string>食品粮油</string>
		<key>pic</key>
		<string>eastbuy_main_14</string>
	</dict>
</array>
</plist>
