<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstCategories</key>
	<array>
		<dict>
			<key>categoryName</key>
			<string>上推广</string>
			<key>id</key>
			<string>1001</string>
			<key>picAddr</key>
			<string>he_up_ads.png</string>
		</dict>
	</array>
	<key>fourthCategories</key>
	<array>
		<dict>
			<key>categoryName</key>
			<string>下推广1</string>
			<key>id</key>
			<string>1012</string>
			<key>picAddr</key>
			<string>he_down_ads.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>下推广2</string>
			<key>id</key>
			<string>1013</string>
			<key>picAddr</key>
			<string>he_down_ads_2.png</string>
		</dict>
	</array>
	<key>secondCategories</key>
	<array>
		<dict>
			<key>categoryName</key>
			<string>附近</string>
			<key>id</key>
			<string>1002</string>
			<key>picAddr</key>
			<string>he_category_nearby.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>购物</string>
			<key>id</key>
			<string>1003</string>
			<key>picAddr</key>
			<string>he_category_shop.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>餐厅</string>
			<key>id</key>
			<string>1004</string>
			<key>picAddr</key>
			<string>he_category_restaurant.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>外卖</string>
			<key>id</key>
			<string>1005</string>
			<key>picAddr</key>
			<string>he_category_food_delivered.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>生活</string>
			<key>id</key>
			<string>1006</string>
			<key>picAddr</key>
			<string>he_category_life.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>服务</string>
			<key>id</key>
			<string>1007</string>
			<key>picAddr</key>
			<string>he_category_service.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>娱乐</string>
			<key>id</key>
			<string>1008</string>
			<key>picAddr</key>
			<string>he_category_amusement.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>旅游</string>
			<key>id</key>
			<string>1009</string>
			<key>picAddr</key>
			<string>he_category_travel.png</string>
		</dict>
	</array>
	<key>thirdCategories</key>
	<array>
		<dict>
			<key>categoryName</key>
			<string>支持抵扣券商铺</string>
			<key>id</key>
			<string>1010</string>
			<key>picAddr</key>
			<string>hs_shop_ deduction.png</string>
		</dict>
		<dict>
			<key>categoryName</key>
			<string>积分排行</string>
			<key>id</key>
			<string>1011</string>
			<key>picAddr</key>
			<string>he_shop_integral.png</string>
		</dict>
	</array>
</dict>
</plist>
