<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<dict>
		<key>lang</key>
		<string>简体配置文件</string>
		<key>conf_0</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>U16000</key>
				<string>积分互生分配</string>
				<key>U26000</key>
				<string>积分再增值分配</string>
				<key>G41000</key>
				<string>消费积分分配</string>
				<key>G42000</key>
				<string>消费积分分配</string>
				<key>G20000</key>
				<string>消费积分分配</string>
				<key>G23000</key>
				<string>消费积分撤单</string>
				<key>G24000</key>
				<string>消费积分退货</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 积分账户相关配置文件 #FA3C28橙色 标题颜色#464646  普通value颜色#8C8C8C 绿色：#009632</string>
		</dict>
		<key>conf_1</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>L23000</key>
				<string>货币转银行</string>
				<key>L23200</key>
				<string>货币转银行失败转入</string>
				<key>L43200</key>
				<string>货币转银行失败转入</string>
				<key>L43000</key>
				<string>货币转银行手续费</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>L43100</key>
				<string>货币转银行撤单</string>
				<key>L23100</key>
				<string>货币转银行撤单</string>
				<key>U36000</key>
				<string>劳务费收入</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
				<key>X12000</key>
				<string>互生币转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 货币账户相关配置文件</string>
		</dict>
		<key>conf_2</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
				<key>S72000</key>
				<string>平台业务扣款</string>
				<key>A13000</key>
				<string>消费积分扣除</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>K24000</key>
				<string>网银兑换互生币</string>
				<key>K25000</key>
				<string>线下兑换互生币</string>
				<key>M52000</key>
				<string>代兑互生币</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>S52000</key>
				<string>缴纳系统使用年费</string>
				<key>G11000</key>
				<string>商城销售收入</string>
				<key>G12000</key>
				<string>线下销售收入</string>
				<key>U56000</key>
				<string>申报兑换互生币</string>
				<key>510000</key>
				<string>外卖月租服务费</string>
				<key>S12100</key>
				<string>申购工具退款</string>
				<key>S12000</key>
				<string>申购工具付款</string>
				<key>S62000</key>
				<string>申购工具付款</string>
				<key>S15100</key>
				<string>申购工具退款</string>
				<key>S82100</key>
				<string>申购消费者系统资源退款</string>
				<key>S14100</key>
				<string>申购工具退款</string>
				<key>S82000</key>
				<string>申购消费者系统资源</string>
				<key>G20000</key>
				<string>消费积分扣除</string>
				<key>A21000</key>
				<string>消费积分扣除</string>
				<key>A23000</key>
				<string>消费积分扣除</string>
				<key>A11300</key>
				<string>消费积分扣除</string>
				<key>A12300</key>
				<string>消费积分扣除</string>
				<key>B13000</key>
				<string>消费积分扣除</string>
				<key>A21200</key>
				<string>互生币支付退货</string>
				<key>A23100</key>
				<string>消费积分撤单</string>
				<key>A21100</key>
				<string>互生币支付撤单</string>
				<key>A11100</key>
				<string>网上订单退货</string>
				<key>A11200</key>
				<string>网上订单退货</string>
				<key>A13100</key>
				<string>网上订单退货</string>
				<key>A13200</key>
				<string>网上订单退货</string>
				<key>G14000</key>
				<string>商业服务费收入</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>K84000</key>
				<string>预缴积分预付款</string>
				<key>K85000</key>
				<string>预缴积分预付款</string>
				<key>K82000</key>
				<string>预缴积分预付款</string>
				<key>X13000</key>
				<string>积分预付款退回</string>
				<key>X16000</key>
				<string>积分预付款转入</string>
				<key>X12000</key>
				<string>互生币转货币</string>
				<key>X15000</key>
				<string>代兑手续费收入</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户流通币账户相关配置文件</string>
		</dict>
		<key>conf_3</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户慈善救助账户相关配置文件</string>
		</dict>
		<key>conf_4</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户 积分投资明细相关配置文件</string>
		</dict>
		<key>conf_5</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>G21000</key>
				<string>消费积分纳税</string>
				<key>U16000</key>
				<string>积分互生分配纳税</string>
				<key>U26000</key>
				<string>积分再增值分配纳税</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户投资分红明细查询相关配置文件</string>
		</dict>
	</dict>
	<key>zh-Hans</key>
	<dict>
		<key>lang</key>
		<string>简体配置文件</string>
		<key>conf_0</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>U16000</key>
				<string>积分互生分配</string>
				<key>U26000</key>
				<string>积分再增值分配</string>
				<key>G41000</key>
				<string>消费积分分配</string>
				<key>G42000</key>
				<string>消费积分分配</string>
				<key>G20000</key>
				<string>消费积分分配</string>
				<key>G23000</key>
				<string>消费积分撤单</string>
				<key>G24000</key>
				<string>消费积分退货</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 积分账户相关配置文件 #FA3C28橙色 标题颜色#464646  普通value颜色#8C8C8C 绿色：#009632</string>
		</dict>
		<key>conf_1</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>L23000</key>
				<string>货币转银行</string>
				<key>L23200</key>
				<string>货币转银行失败转入</string>
				<key>L43200</key>
				<string>货币转银行失败转入</string>
				<key>L43000</key>
				<string>货币转银行手续费</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>L43100</key>
				<string>货币转银行撤单</string>
				<key>L23100</key>
				<string>货币转银行撤单</string>
				<key>U36000</key>
				<string>劳务费收入</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
				<key>X12000</key>
				<string>互生币转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 货币账户相关配置文件</string>
		</dict>
		<key>conf_2</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
				<key>S72000</key>
				<string>平台业务扣款</string>
				<key>A13000</key>
				<string>消费积分扣除</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>K24000</key>
				<string>网银兑换互生币</string>
				<key>K25000</key>
				<string>线下兑换互生币</string>
				<key>M52000</key>
				<string>代兑互生币</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>S52000</key>
				<string>缴纳系统使用年费</string>
				<key>G11000</key>
				<string>商城销售收入</string>
				<key>G12000</key>
				<string>线下销售收入</string>
				<key>U56000</key>
				<string>申报兑换互生币</string>
				<key>510000</key>
				<string>外卖月租服务费</string>
				<key>S12100</key>
				<string>申购工具退款</string>
				<key>S12000</key>
				<string>申购工具付款</string>
				<key>S62000</key>
				<string>申购工具付款</string>
				<key>S15100</key>
				<string>申购工具退款</string>
				<key>S82100</key>
				<string>申购消费者系统资源退款</string>
				<key>S14100</key>
				<string>申购工具退款</string>
				<key>S82000</key>
				<string>申购消费者系统资源</string>
				<key>G20000</key>
				<string>消费积分扣除</string>
				<key>A21000</key>
				<string>消费积分扣除</string>
				<key>A23000</key>
				<string>消费积分扣除</string>
				<key>A11300</key>
				<string>消费积分扣除</string>
				<key>A12300</key>
				<string>消费积分扣除</string>
				<key>B13000</key>
				<string>消费积分扣除</string>
				<key>A21200</key>
				<string>互生币支付退货</string>
				<key>A23100</key>
				<string>消费积分撤单</string>
				<key>A21100</key>
				<string>互生币支付撤单</string>
				<key>A11100</key>
				<string>网上订单退货</string>
				<key>A11200</key>
				<string>网上订单退货</string>
				<key>A13100</key>
				<string>网上订单退货</string>
				<key>A13200</key>
				<string>网上订单退货</string>
				<key>G14000</key>
				<string>商业服务费收入</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>K84000</key>
				<string>预缴积分预付款</string>
				<key>K85000</key>
				<string>预缴积分预付款</string>
				<key>K82000</key>
				<string>预缴积分预付款</string>
				<key>X13000</key>
				<string>积分预付款退回</string>
				<key>X16000</key>
				<string>积分预付款转入</string>
				<key>X12000</key>
				<string>互生币转货币</string>
				<key>X15000</key>
				<string>代兑手续费收入</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户流通币账户相关配置文件</string>
		</dict>
		<key>conf_3</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户慈善救助账户相关配置文件</string>
		</dict>
		<key>conf_4</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户 积分投资明细相关配置文件</string>
		</dict>
		<key>conf_5</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>G21000</key>
				<string>消费积分纳税</string>
				<key>U16000</key>
				<string>积分互生分配纳税</string>
				<key>U26000</key>
				<string>积分再增值分配纳税</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户投资分红明细查询相关配置文件</string>
		</dict>
	</dict>
	<key>zh-Hant</key>
	<dict>
		<key>lang</key>
		<string>简体配置文件</string>
		<key>conf_0</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>U16000</key>
				<string>积分互生分配</string>
				<key>U26000</key>
				<string>积分再增值分配</string>
				<key>G41000</key>
				<string>消费积分分配</string>
				<key>G42000</key>
				<string>消费积分分配</string>
				<key>G20000</key>
				<string>消费积分分配</string>
				<key>G23000</key>
				<string>消费积分撤单</string>
				<key>G24000</key>
				<string>消费积分退货</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 积分账户相关配置文件 #FA3C28橙色 标题颜色#464646  普通value颜色#8C8C8C 绿色：#009632</string>
		</dict>
		<key>conf_1</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>L23000</key>
				<string>货币转银行</string>
				<key>L23200</key>
				<string>货币转银行失败转入</string>
				<key>L43200</key>
				<string>货币转银行失败转入</string>
				<key>L43000</key>
				<string>货币转银行手续费</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>L43100</key>
				<string>货币转银行撤单</string>
				<key>L23100</key>
				<string>货币转银行撤单</string>
				<key>U36000</key>
				<string>劳务费收入</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>M71000</key>
				<string>积分转货币</string>
				<key>M61000</key>
				<string>积分转货币</string>
				<key>X12000</key>
				<string>互生币转货币</string>
			</dict>
			<key>note</key>
			<string>说明: 货币账户相关配置文件</string>
		</dict>
		<key>conf_2</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
				<key>S72000</key>
				<string>平台业务扣款</string>
				<key>A13000</key>
				<string>消费积分扣除</string>
				<key>M42000</key>
				<string>互生币转货币</string>
				<key>K23000</key>
				<string>货币兑换互生币</string>
				<key>K24000</key>
				<string>网银兑换互生币</string>
				<key>K25000</key>
				<string>线下兑换互生币</string>
				<key>M52000</key>
				<string>代兑互生币</string>
				<key>M21000</key>
				<string>积分转互生币</string>
				<key>S52000</key>
				<string>缴纳系统使用年费</string>
				<key>G11000</key>
				<string>商城销售收入</string>
				<key>G12000</key>
				<string>线下销售收入</string>
				<key>U56000</key>
				<string>申报兑换互生币</string>
				<key>510000</key>
				<string>外卖月租服务费</string>
				<key>S12100</key>
				<string>申购工具退款</string>
				<key>S12000</key>
				<string>申购工具付款</string>
				<key>S62000</key>
				<string>申购工具付款</string>
				<key>S15100</key>
				<string>申购工具退款</string>
				<key>S82100</key>
				<string>申购消费者系统资源退款</string>
				<key>S14100</key>
				<string>申购工具退款</string>
				<key>S82000</key>
				<string>申购消费者系统资源</string>
				<key>G20000</key>
				<string>消费积分扣除</string>
				<key>A21000</key>
				<string>消费积分扣除</string>
				<key>A23000</key>
				<string>消费积分扣除</string>
				<key>A11300</key>
				<string>消费积分扣除</string>
				<key>A12300</key>
				<string>消费积分扣除</string>
				<key>B13000</key>
				<string>消费积分扣除</string>
				<key>A21200</key>
				<string>互生币支付退货</string>
				<key>A23100</key>
				<string>消费积分撤单</string>
				<key>A21100</key>
				<string>互生币支付撤单</string>
				<key>A11100</key>
				<string>网上订单退货</string>
				<key>A11200</key>
				<string>网上订单退货</string>
				<key>A13100</key>
				<string>网上订单退货</string>
				<key>A13200</key>
				<string>网上订单退货</string>
				<key>G14000</key>
				<string>商业服务费收入</string>
				<key>X10530</key>
				<string>系统调账转入</string>
				<key>X10630</key>
				<string>系统调账转出</string>
				<key>X11000</key>
				<string>系统平账</string>
				<key>X14000</key>
				<string>系统平账</string>
				<key>K84000</key>
				<string>预缴积分预付款</string>
				<key>K85000</key>
				<string>预缴积分预付款</string>
				<key>K82000</key>
				<string>预缴积分预付款</string>
				<key>X13000</key>
				<string>积分预付款退回</string>
				<key>X16000</key>
				<string>积分预付款转入</string>
				<key>X12000</key>
				<string>互生币转货币</string>
				<key>X15000</key>
				<string>代兑手续费收入</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户流通币账户相关配置文件</string>
		</dict>
		<key>conf_3</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T46000</key>
				<string>投资分红</string>
			</dict>
			<key>note</key>
			<string>说明: 互生币账户慈善救助账户相关配置文件</string>
		</dict>
		<key>conf_4</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>T21000</key>
				<string>积分投资</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户 积分投资明细相关配置文件</string>
		</dict>
		<key>conf_5</key>
		<dict>
			<key>transType_list</key>
			<dict>
				<key>G21000</key>
				<string>消费积分纳税</string>
				<key>U16000</key>
				<string>积分互生分配纳税</string>
				<key>U26000</key>
				<string>积分再增值分配纳税</string>
			</dict>
			<key>note</key>
			<string>说明: 投资账户投资分红明细查询相关配置文件</string>
		</dict>
	</dict>
</dict>
</plist>
